<div class="container mt-4">
  <h4>Conversations with <%= @client.name %></h4>
  <div class="overflow-scroll" style="height: 300px;">
    <% @conversations.each do |conversation| %>
      <div class="shadow m-2 p-2">
        <p class="m-0 fst-italic text-secondary" style="font-size: 10px;"><%= conversation.created_at.strftime("%F, %H:%M") %></p>
        <p><%= conversation.content %></p>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <%= simple_form_for [@client, @conversation] do |f| %>
    <%= f.input :content %>
    <%= f.submit %>
  <% end %>
</div>
